<%- include('header') -%>

<h1 class="h1">About Us</h1>
<h2 class="h2">Pragathi Vidyaniketan <br> <sub>-Mission to Motivate</sub></h2>
     <p class="mission">
    At our school, our mission is to provide a nurturing and inclusive learning environment where students can thrive academically, socially, and emotionally. We believe in fostering a love for learning and empowering our students to become critical thinkers, problem solvers, and compassionate individuals.
</p>

    <p class="mission"> 
        Our educational philosophy is centered around personalized learning, recognizing that every student has unique strengths, interests, and learning styles. We strive to create a student-centered approach that promotes active engagement, collaboration, and the development of essential skills for the 21st century.
    </p>
    
    <p class="mission">
         Our goals are to inspire a lifelong love for learning, cultivate a strong sense of integrity and responsibility, and prepare students for success in a rapidly changing world. We aim to provide a comprehensive education that balances academic excellence with the development of character, resilience, and leadership qualities.
    </p>
    
    <p class="mission">
         At the core of our values are respect, inclusivity, and a commitment to diversity. We celebrate the uniqueness of each individual and promote a supportive and inclusive community where all students feel valued and empowered to contribute their perspectives.
    </p>
    
    <p class="mission">By fostering a culture of curiosity, creativity, and continuous improvement, we aim to instill a growth mindset in our students, encouraging them to embrace challenges, learn from failures, and continuously strive for excellence. Our ultimate goal is to equip our students with the knowledge, skills, and values necessary to make a positive impact in their communities and become lifelong learners.
    </p>
    
    <p class="mission"> 
        Through collaboration with dedicated educators, involved parents, and a supportive network of partners, we believe in providing a holistic education that prepares our students for a bright and successful future.
    </p>
 
</div>
<div>
    <h2 class="h2">Introduction</h2>
    <p class="mission" >Pragathi is a institution which has been continuously striving to bring better facilities and value-added educationtion
        to its student ,without entering the race commercialization. 
        the management of Pragathi ensures that thr revenue earned from the school goes back to upgrade 
        the quality ogf training provided to the students ,utilising the surplus revenue for a hospital with 
        state-of-the-art facilities 
    </p>
</div>
<div>
    <h2 class="h2"> Pre Primary School</h2>
    <p class="mission">Pragathi </p>
</div>
 

<%- include('footer') -%>