<%- include('header') -%>

<h1 class="h1">About Us</h1>
<h1 class="h1">Pragathi Vidyaniketan School</h1>
<div class="about-section">
  <h2>Formation</h2>
  <p class="content-paragraph">
    Established in 1994, Pragathi Nagar Educational Society proudly introduced
    'Pragathi Vidyaniketan' in the serene locality of Pragati Nagar, Hyderabad.
    With unwavering commitment to uphold cherished values, unparalleled academic
    standards, and an unwavering trust from parents, our esteemed institution
    has earned the esteemed reputation as one of the foremost SSC schools in
    Hyderabad.
  </p>
</div>

<div class="about-section">
  <h2>Mission to Motivate</h2>

  <p class="content-paragraph">
    At our school, our mission is to provide a nurturing and inclusive learning
    environment where students can thrive academically, socially, and
    emotionally. We believe in fostering a love for learning and empowering our
    students to become critical thinkers, problem solvers, and compassionate
    individuals. Our educational philosophy is centered around personalized
    learning, recognizing that every student has unique strengths, interests,
    and learning styles. We strive to create a student-centered approach that
    promotes active engagement, collaboration, and the development of essential
    skills for the 21st century.
  </p>

  <p class="content-paragraph">
    Our goals are to inspire a lifelong love for learning, cultivate a strong
    sense of integrity and responsibility, and prepare students for success in a
    rapidly changing world. We aim to provide a comprehensive education that
    balances academic excellence with the development of character, resilience,
    and leadership qualities.At the core of our values are respect, inclusivity,
    and a commitment to diversity. We celebrate the uniqueness of each
    individual and promote supportive and inclusive community where all students
    feel valued and empowered to contribute their perspectives.
  </p>

  <p class="content-paragraph">
    By fostering a culture of curiosity, creativity, and continuous improvement,
    we aim to instill a growth mindset in our students, encouraging them to
    embrace challenges, learn from failures, and continuously strive for
    excellence. Our ultimate goal is to equip our students with the knowledge,
    skills, and values necessary to make a positive impact in their communities
    and become lifelong learners. Through collaboration with dedicated
    educators, involved parents, and a supportive network of partners, we
    believe in providing a holistic education that prepares our students for a
    bright and successful future.
  </p>
</div>

<div class="about-section">
  <h2>Introduction</h2>

  <p class="content-paragraph">
    Pragathi is a institution which has been continuously striving to bring
    better facilities and value-added educationtion to its student ,without
    entering the race commercialization.he management of Pragathi ensures that
    thr revenue earned from the school goes back to upgrade the quality ogf
    training provided to the students, utilising the surplus revenue for a
    hospital with state-of-the-art facilities.
  </p>
</div>

<div class="about-section">
  <h2>Pre Primary School</h2>

  <p class="content-paragraph">
    Pragathi understands the needs and caters to each and every child. All
    teachers are trained and passionate towards developing a healthy curiousity
    in children and ignite the zeal to learn
  </p>
</div>

<div class="about-section">
  <h2>Primary School</h2>
  <p class="content-paragraph">
    Mainstream schooling starts with a flurry of activities ensuring the new
    load is not a burden. Teachers are equipped to deal with the transition and
    sail the children through fun which disguises the curriculum.
  </p>
</div>

<div class="about-section">
  <h2>High School Section</h2>

  <p class="content-paragraph">
    High school at Pragathi VidyaNiketan comes with emphasis on various life
    skills and hands-onknowledge and interactive teaching-learning transaction
    through lab activities, do yourself sessions, in-house projects. Field
    trips, educational tours, interactive co-scholast assignments etc. Tween to
    teen transition can be very complex for a child, what with increased depth
    in each subject and more expectation on performance. Pragathi educators are
    trained to hand hold each child through this transition and impart knowledge
    with ease, catering to each child's level.
  </p>
</div>

<div class="about-section">
  <h2>The Aim</h2>

  <p class="content-paragraph">
    The Aim of this school is not only to impart education but also to develop
    the total personalityof the child by training his/her intellectual, moral,
    physical, emotional and aesthetic faculties to make him /her fully human.
    Every child that enters the portals of this institution is imparted
    education to consider his/her duty to the motherland as a sacred duty & to
    draw out the ethical dimension to help the students achieve total
    moralfreedom, behind which stands absolute values that give meaning and
    value to human life.
  </p>
</div>

<div class="about-section">
  <h2>School Authorities</h2>

  <div class="content-paragraph mt-5 mb-5">
    <figure>
      <img src="images/dayakar-sir.png" alt="Dayakar Reddy Sir" width="300px" />
      <figcaption>
        <h3><strong>Mr. D. Dayakar Reddy</strong></h3>
        <h4>CORRESPONDENT,</h4>
        <h4>Pragathi Vidyaniketan.</h4>
      </figcaption>
    </figure>
  </div>

  <div class="content-paragraph mt-5 mb-5">
    <figure>
      <img src="images/madhavi-mam.png" alt="Madhavi Mam" width="300px" />
      <figcaption>
        <h3><strong>Mrs. T. Madhavi</strong></h3>
        <h4>HEADMISTRESS,</h4>
        <h4>Pragathi Vidyaniketan.</h4>
      </figcaption>
    </figure>
  </div>

  <div class="content-paragraph mt-5 mb-5">
    <figure>
      <img src="images/lakshmi mam.jpg" alt="Incharge" width="300px" />
      <figcaption>
        <h3><strong>CH.Lakshmi </strong></h3>
        <h4>Admin,</h4>
        <h4>Pragathi Vidyaniketan.</h4>
      </figcaption>
    </figure>
  </div>
  <div class="content-paragraph mt-5 mb-5">
    <figure>
      <img src="images/sarabaiah sir.jpg" alt="Incharge" width="300px" />
      <figcaption>
        <h3><strong>K.Sarabaiah</strong></h3>
        <h4>Admin,</h4>
        <h4>Pragathi Vidyaniketan.</h4>
      </figcaption>
    </figure>
  </div>
  <div class="content-paragraph mt-5 mb-5">
    <figure>
      <img src="images/babu sir.png" alt="Incharge" width="300px" />
      <figcaption>
        <h3><strong>K.Babu Rao</strong></h3>
        <h4>Admin,</h4>
        <h4>Pragathi Vidyaniketan.</h4>
      </figcaption>
    </figure>
  </div>
  <div class="content-paragraph mt-5 mb-5">
    <figure>
      <img src="images/venkat sir.jpg" alt="Incharge" width="300px" />
      <figcaption>
        <h3><strong>CH.Venkat</strong></h3>
        <h4>10<sup>th</sup>Class Co-ordinator,</h4>
        <h4>Pragathi Vidyaniketan.</h4>
      </figcaption>
    </figure>
  </div>
  <div class="content-paragraph mt-5 mb-5">
    <figure>
      <img src="images/vijaya-kumari mam.jpg" alt="Incharge" width="300px" />
      <figcaption>
        <h3><strong>K.Vijaya Kumari</strong></h3>
        <h4>High School Co-ordinator,</h4>
        <h4>Pragathi Vidyaniketan.</h4>
      </figcaption>
    </figure>
  </div>
  <div class="content-paragraph mt-5 mb-5">
    <figure>
      <img src="images/dhana lakshmi mam.PNG" alt="Incharge" width="300px" />
      <figcaption>
        <h3><strong>M.Dhana Lakshmi </strong></h3>
        <h4>Primary School Co-ordinator,</h4>
        <h4>Pragathi Vidyaniketan.</h4>
      </figcaption>
    </figure>
  </div>
  <div class="content-paragraph mt-5 mb-5">
    <figure>
      <img src="images/sundari mam.jpg" alt="Incharge" width="300px" />
      <figcaption>
        <h3><strong>C.Sundari </strong></h3>
        <h4>Pre-Primary School Co-ordinator,</h4>
        <h4>Pragathi Vidyaniketan.</h4>
      </figcaption>
    </figure>
  </div>
  <div class="school-commitee">
    <h2>School Students Committee</h2>
    <p>Head Boy : <strong> R.Siddharth</strong></p>
    <p>Head Girl: <strong>B.Jyothsna</strong></p>
    <p>Deputy Head Boy : <strong>P.Vishal</strong></p>
    <p>Deputy Head Girl: <strong>U.Ashwitha</strong></p>
    <p>Sports Secretary: <strong>N.Tanush</strong></p>
    <p>Cultural Secretary: <strong>Ch.Keerthi</strong></p>
  </div>
</div>

<%- include('footer') -%>
