<%- include('header') -%>

<h1 class="h1">Admin Panel</h1>
<% if (message == "Files uploaded successfully") { %>
<div class="success-message"><%= message %></div>
<% } else { %>
<div class="error-message"><%= message %></div>
<% } %>

<form
  action="/admin"
  method="post"
  enctype="multipart/form-data"
  class="admission-form"
>
  <div class="mb-4">
    <label for="username" class="form-label">Username : </label>
    <input
      type="text"
      name="username"
      id="username"
      class="form-control"
      required
    />
  </div>

  <div class="mb-4">
    <label for="password" class="form-label">Password : </label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
  </div>

  <div class="mb-4">
    <label for="file" class="form-label"
      >Upload <strong>Hostel Data</strong> :
    </label>
    <input type="file" name="file" class="form-control" />
  </div>

  <div class="mb-4">
    <label for="daySchoolFiles" class="form-label">Upload <strong>Day School Data</strong> Files:</label>
    <input type="file" name="daySchoolFiles" id="daySchoolFiles" class="form-control" multiple>
  </div>
  

  <div class="mb-4">
    <label for="fileFA1" class="form-label"
      >Upload <strong>FA-1.xlsx</strong> :
    </label>
    <input type="file" name="fileFA1" id="fileFA1" class="form-control" />
  </div>

  <div class="mb-4">
    <label for="fileFA2" class="form-label"
      >Upload <strong>FA-2.xlsx</strong> :
    </label>
    <input type="file" name="fileFA2" id="fileFA2" class="form-control" />
  </div>

  <div class="mb-4">
    <label for="fileFA3" class="form-label"
      >Upload <strong>FA-3.xlsx</strong> :
    </label>
    <input type="file" name="fileFA3" id="fileFA3" class="form-control" />
  </div>

  <div class="mb-4">
    <label for="fileFA4" class="form-label"
      >Upload <strong>FA-4.xlsx</strong> :
    </label>
    <input type="file" name="fileFA4" id="fileFA4" class="form-control" />
  </div>

  <div class="mb-4">
    <label for="fileSA1" class="form-label"
      >Upload <strong>SA-1.xlsx</strong> :
    </label>
    <input type="file" name="fileSA1" id="fileSA1" class="form-control" />
  </div>

  <div class="mb-4">
    <label for="fileSA2" class="form-label"
      >Upload <strong>SA-2.xlsx</strong> :
    </label>
    <input type="file" name="fileSA2" id="fileSA2" class="form-control" />
  </div>

  <button type="submit" class="mt-5 btn btn-primary btn-lg">Upload</button>
</form>

<%- include('footer') -%>
