<%- include('header') -%>

<h1 class="h1">Online Admission Form</h1>

<div id="click-fee" class="mb-2 mt-2">
  <a href="/fee" class="btn btn-primary">Click here to view fee structure</a>
</div>

<% if (submitted) { %>
  <div class="success-message">Admission Form submitted successfully! We will contact you soon.</div>
<% } else if (error) { %>
  <div class="error-message">An error occurred while submitting the form. Please try again.</div>
<% } %>

<form action="/admission" method="post" onsubmit="validateForm(event)" class="admission-form">

  <div class="mb-4">
    <label for="studentname" class="form-label">Student name : </label>
    <input type="text" class="form-control" id="studentname" required name="studentname">
  </div>

  <div class="mb-4">
    <label for="fathername" class="form-label">Father name / Guardian : </label>
    <input type="text" class="form-control" id="fathername" required name="fathername">
  </div>

  <div class="mb-4">
    <label for="mothername" class="form-label">Mother name : </label>
    <input type="text" class="form-control" id="mothername" name="mothername">
  </div>

  <div class="mb-4">
    <fieldset required>
      <legend class="form-label">Gender : </legend>
  
      <input class="form-check-input" type="radio" name="gender" value="male" id="male">
      <label for="male" class="form-check-label">Male</label>
    
      <input class="form-check-input" type="radio" name="gender" value="female" id="female">
      <label for="female" class="form-check-label">Female</label>
    </fieldset>
  </div>
  
  

  <div class="mb-5">
    <label for="age" class="form-label">Age : </label>
    <input type="number" class="form-control" id="age" required name="age">
  </div>

  <div class="mb-5">
    <label for="dob" class="form-label">DOB : </label>
    <input type="date" id="dob" required name="dob">
  </div>

  <div class="mb-5">
    <label for="class" class="form-label">Admission into:</label>
    <select id="class" class="form-select" aria-label="Default select example" required name="admissioninto">
      <option value="0" disabled selected>Select Class</option>
      <option value="LKG">LKG</option>
      <option value="UKG">UKG</option>
      <option value="1st class">1st class</option>
      <option value="2nd class">2nd class</option>
      <option value="3rd class">3rd class</option>
      <option value="4th class">4th class</option>
      <option value="5th class">5th class</option>
      <option value="6th class">6th class</option>
      <option value="7th class">7th class</option>
      <option value="8th class">8th class</option>
      <option value="9th class">9th class</option>
    </select>
  </div>

  <div class="mb-5">
    <label for="address" class="form-label">Residential Address : </label>
    <textarea id="address" cols="40" name="address" required></textarea>
  </div>

  <div class="mb-5">
    <label for="contact_address" class="form-label">Contact Address : </label>
    <textarea id="contact_address" cols="40" name="contact_address" required></textarea>
  </div>

  <div class="mb-4">
    <label for="aadhar" class="form-label">Student Aadhar no : </label>
    <input type="text" id="aadhar" maxlength="12" required name="aadhar">
    <span id="aadhaarError" class="error-message"></span><br>
  </div>

  <div class="mb-4">
    <label for="contact-1" class="form-label">Contact Number 1 : </label>
    <input type="tel" id="contact-1" maxlength="10" required name="contact1">
    <span id="contact1Error" class="error-message"></span><br>
  </div>

  <div class="mb-4">
    <label for="contact-2" class="form-label">Contact Number 2 : </label>
    <input type="tel" id="contact-2" maxlength="10" name="contact2" >
    <span id="contact2Error" class="error-message"></span><br>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>

<%- include('footer') %>