<%- include('header') -%>
  
<h1 class="h1">Contact Us</h1>

<div id="click-fee" class="mb-2 mt-2">
  <a href="/admission">Click here to apply for online admission.</a>
</div>

<h2 class="h2">Contact Information</h2>


<%- include('footer') -%>