<%- include('header') -%>

Contact
 <a href="/admission" class="clickhere"> click here for admission form</a>
  <h2>Office Hours</h2>
<p>Our school office is open during the following hours:</p>
<ul>
  <li>Monday: 8:00 AM - 4:30 PM</li>
  <li>Tuesday: 8:00 AM - 4:30 PM</li>
  <li>Wednesday: 8:00 AM - 4:30 PM</li>
  <li>Thursday: 8:00 AM - 4:30 PM</li>
  <li>Friday: 8:00 AM - 3:30 PM</li>
</ul>
  
  
<%- include('footer') -%>