<%- include('header') -%>
  
<h1 class="h1">Contact Us</h1>

<div id="click-fee" class="mb-2 mt-2">
  <a href="/admission">Click here to apply for online admission.</a>
</div>

<h2 >Contact Information</h2>

<iframe
width="100%"
height="100%"
frameborder="0"
style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=YOUR_LOCATION&key=YOUR_API_KEY"
allowfullscreen>
</iframe>
 <p><strong> School adress: </strong> G9CV+247, Survey Number 191/D, Pragathi Nagar, Hyderabad, Telangana 500090</p>
 <p><strong>Email: </strong> pragathi.ssc@gmail.com</p>
 <p><strong>Phone</strong>1234567890</p>
 <div>
  <a href="https://www.google.com/maps?q=G9CV+247, Survey Number 191/D, Pragathi Nagar, Hyderabad, Telangana 500090"> SCHOOL LOCATION
</a>
</div>



<%- include('footer') -%>