<%- include('header') -%>
  
<h1 class="h1">Contact Us</h1>

<div id="click-fee" class="mb-2 mt-2">
  <a href="/admission">Click here to apply for online admission.</a>
</div>

<div class="contact-section">
  <h2>School Contact Details</h2>

  <div class="content-paragraph">
    <p><strong>School adress: </strong>PLOT NO. 876/A,Madhura Nagar Road, Pragathi Nagar,Hyderabad,Telangana - 500 090</p>
    <p><strong>Email: </strong> pragathi.ssc@gmail.com</p>
    <p><strong>Phone: </strong>9618612927</p>
    <p><strong>School Location: </strong></p>
    <iframe class="map-frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30437.89873028042!2d78.35452807431642!3d17.520047400000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8e1d2f39f47b%3A0xf97bda7974601531!2sPRAGATHI%20JUNIOR%20COLLEGE!5e0!3m2!1sen!2sin!4v1708145760495!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<div class="contact-section">
  <h2>Office Hours</h2>
  <div class="content-paragraph">
    <p><strong>Monday to Saturday: </strong>9:00 am to 4:00 pm</p>
    
  </div>
</div>

<div class="contact-section">
  <h2>School Timings</h2>
  
  <div class="content-paragraph"> 
    <p><strong>High School & Primary School</strong></p>
    <p>Monday to Friday : 08:30 am to 05:00 pm</p>
    <p>Saturday : 08:30 am to 02:15 pm </p>
    <p><strong>Pre-Primary School</strong></p>
    <p>Monday to Friday : 08:30 am to 03:00 pm</p>
  </div>
</div>

<div class="contact-section">
  <h2>School Management Contacts</h2>

  <div class="content-paragraph">
    <p><strong>Headmistress : </strong>Mrs.T.Madhavi - 9490233878 </p>
    <p><strong>Admin : </strong>Mrs.Ch.Lakshmi , Mr.K.Babu Rao , Mr.K.Sarabaiah - 9000894053</p>
    <p><strong>Pre-Primary Coordinator : </strong>Mrs.C.Sundari - 7416570987</p>
    <p><strong>Primary Coordinator : </strong>Mrs.M.Dhana Lakshmi - 8179916736</p>
    <p><strong>High School Coordinator : </strong>Mrs.K.Lakshmi Soujanya - 9032264743 , Mrs.K.Vijaya Kumari - 9059414278</p>
   
  </div>
</div>



<%- include('footer') -%>