<%- include('header') -%>

<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
    <col class="col0">
    <col class="col1">
    <col class="col2">
    <col class="col3">
    <col class="col4">
    <col class="col5">
    <col class="col6">
    <col class="col7">
    <col class="col8">
    <tbody>
      <tr class="row0">
        <td class="column0 style2 s style4" colspan="5">PRAGATHI VIDYANIKETAN</td>
        <td class="column5 style1 null"></td>
        <td class="column6 style1 null"></td>
        <td class="column7 style1 null"></td>
        <td class="column8 style1 null"></td>
      </tr>
      <tr class="row1">
        <td class="column0 style2 s style4" colspan="5">SSC FEE STRUCTURE 2023-2024</td>
      </tr>
      <tr class="row2">
        <td class="column0 style5 null"></td>
        <td class="column1 style6 s">2023-2024</td>
        <td class="column2 style6 s">(10-06-2023)</td>
        <td class="column3 style6 s">(10-09-2023)</td>
        <td class="column4 style6 s">(10-02-2024)</td>
      </tr>
      <tr class="row3">
        <td class="column0 style6 s">CLASS</td>
        <td class="column1 style6 s">TUTION FEE</td>
        <td class="column2 style6 s">I TERM</td>
        <td class="column3 style6 s">II TERM</td>
        <td class="column4 style6 s">III TERM</td>
      </tr>
      <tr class="row4">
        <td class="column0 style6 s">LKG &amp; UKG</td>
        <td class="column1 style5 n">24950</td>
        <td class="column2 style6 n">8350</td>
        <td class="column3 style6 n">8300</td>
        <td class="column4 style6 n">8300</td>
      </tr>
      <tr class="row5">
        <td class="column0 style6 s">I</td>
        <td class="column1 style6 n">27150</td>
        <td class="column2 style6 n">9050</td>
        <td class="column3 style6 n">9050</td>
        <td class="column4 style6 n">9050</td>
      </tr>
      <tr class="row6">
        <td class="column0 style6 s">II</td>
        <td class="column1 style6 n">28000</td>
        <td class="column2 style6 n">9400</td>
        <td class="column3 style6 n">9300</td>
        <td class="column4 style6 n">9300</td>
      </tr>
      <tr class="row7">
        <td class="column0 style6 s">III</td>
        <td class="column1 style6 n">28850</td>
        <td class="column2 style6 n">9650</td>
        <td class="column3 style6 n">9600</td>
        <td class="column4 style6 n">9600</td>
      </tr>
      <tr class="row8">
        <td class="column0 style6 s">IV</td>
        <td class="column1 style6 n">30000</td>
        <td class="column2 style6 n">10000</td>
        <td class="column3 style6 n">10000</td>
        <td class="column4 style6 n">10000</td>
      </tr>
      <tr class="row9">
        <td class="column0 style6 s">V</td>
        <td class="column1 style6 n">31050</td>
        <td class="column2 style6 n">10350</td>
        <td class="column3 style6 n">10350</td>
        <td class="column4 style6 n">10350</td>
      </tr>
      <tr class="row10">
        <td class="column0 style6 s">VI</td>
        <td class="column1 style6 n">32100</td>
        <td class="column2 style6 n">10700</td>
        <td class="column3 style6 n">10700</td>
        <td class="column4 style6 n">10700</td>
      </tr>
      <tr class="row11">
        <td class="column0 style6 s">VII</td>
        <td class="column1 style6 n">32800</td>
        <td class="column2 style6 n">11000</td>
        <td class="column3 style6 n">10900</td>
        <td class="column4 style6 n">10900</td>
      </tr>
      <tr class="row12">
        <td class="column0 style6 s">VIII</td>
        <td class="column1 style6 n">33800</td>
        <td class="column2 style6 n">11300</td>
        <td class="column3 style6 n">11300</td>
        <td class="column4 style6 n">11200</td>
      </tr>
      <tr class="row13">
        <td class="column0 style6 s">IX</td>
        <td class="column1 style6 n">35550</td>
        <td class="column2 style6 n">11850</td>
        <td class="column3 style6 n">11850</td>
        <td class="column4 style6 n">11850</td>
      </tr>
      <tr class="row14">
        <td class="column0 style6 s">X</td>
        <td class="column1 style6 n">39700</td>
        <td class="column2 style6 n">13300</td>
        <td class="column3 style6 n">13200</td>
        <td class="column4 style6 n">13200</td>
      </tr>
      <tr class="row15">
        <td class="column0 style2 s style4" colspan="5"> 10% Discount for those who pay fee before 15/06/2023</td>
      </tr>
    </tbody>
</table>
<%- include('footer') -%>