<%- include('header') -%>

<div id="click-fee" class="mb-2 mt-4">
  <a href="/admission" class="btn btn-primary">Click here to apply for online admission.</a>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th colspan="5" class="text-center">PRAGATHI VIDYANIKETAN</th>
        </tr>
        <tr>
          <th colspan="5" class="text-center">SSC FEE STRUCTURE 2023-2024</th>
        </tr>
        <tr>
          <th></th>
          <th class="text-center">2023-2024</th>
          <th class="text-center">(10-06-2023)</th>
          <th class="text-center">(10-09-2023)</th>
          <th class="text-center">(10-02-2024)</th>
        </tr>
        <tr>
          <th class="text-center">CLASS</th>
          <th class="text-center">TUITION FEE</th>
          <th class="text-center">I TERM</th>
          <th class="text-center">II TERM</th>
          <th class="text-center">III TERM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">LKG &amp; UKG</td>
          <td class="text-center">24950</td>
          <td class="text-center">8350</td>
          <td class="text-center">8300</td>
          <td class="text-center">8300</td>
        </tr>
        <tr>
          <td class="text-center">I</td>
          <td class="text-center">27150</td>
          <td class="text-center">9050</td>
          <td class="text-center">9050</td>
          <td class="text-center">9050</td>
        </tr>
        <tr>
          <td class="text-center">II</td>
          <td class="text-center">28000</td>
          <td class="text-center">9400</td>
          <td class="text-center">9300</td>
          <td class="text-center">9300</td>
        </tr>
        <tr>
          <td class="text-center">III</td>
          <td class="text-center">28850</td>
          <td class="text-center">9650</td>
          <td class="text-center">9600</td>
          <td class="text-center">9600</td>
        </tr>
        <tr>
          <td class="text-center">IV</td>
          <td class="text-center">30000</td>
          <td class="text-center">10000</td>
          <td class="text-center">10000</td>
          <td class="text-center">10000</td>
        </tr>
        <tr>
          <td class="text-center">V</td>
          <td class="text-center">31050</td>
          <td class="text-center">10350</td>
          <td class="text-center">10350</td>
          <td class="text-center">10350</td>
        </tr>
        <tr>
          <td class="text-center">VI</td>
          <td class="text-center">32100</td>
          <td class="text-center">10700</td>
          <td class="text-center">10700</td>
          <td class="text-center">10700</td>
        </tr>
        <tr>
          <td class="text-center">VII</td>
          <td class="text-center">32800</td>
          <td class="text-center">11000</td>
          <td class="text-center">10900</td>
          <td class="text-center">10900</td>
        </tr>
        <tr>
          <td class="text-center">VIII</td>
          <td class="text-center">33800</td>
          <td class="text-center">11300</td>
          <td class="text-center">11300</td>
          <td class="text-center">11200</td>
        </tr>
        <tr>
          <td class="text-center">IX</td>
          <td class="text-center">35550</td>
          <td class="text-center">11850</td>
          <td class="text-center">11850</td>
          <td class="text-center">11850</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include('footer') -%> 
