<%- include('header') -%>

<div id="click-fee" class="mb-2 mt-4">
  <a href="/admission" class="btn btn-primary">Click here to apply for online admission.</a>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th colspan="5" class="text-center">PRAGATHI VIDYANIKETAN</th>
        </tr>
        <tr>
          <th colspan="5" class="text-center">SSC FEE STRUCTURE 2024-2025</th>
        </tr>
        <tr>
          <th></th>
          <th class="text-center">2024-2025</th>
          <th class="text-center">( 06-10-2024)</th>
          <th class="text-center">(09-10-2024)</th>
          <th class="text-center">(10-02-2025)</th>
        </tr>
        <tr>
          <th class="text-center">CLASS</th>
          <th class="text-center">TUITION FEE</th>
          <th class="text-center">I TERM</th>
          <th class="text-center">II TERM</th>
          <th class="text-center">III TERM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">LKG &amp; UKG</td>
          <td class="text-center">27900</td>
          <td class="text-center">9300</td>
          <td class="text-center">9300</td>
          <td class="text-center">9300</td>
        </tr>
        <tr>
          <td class="text-center">I</td>
          <td class="text-center">30400</td>
          <td class="text-center">10200</td>
          <td class="text-center">10100</td>
          <td class="text-center">10100</td>
        </tr>
        <tr>
          <td class="text-center">II</td>
          <td class="text-center">31400</td>
          <td class="text-center">10500</td>
          <td class="text-center">10450</td>
          <td class="text-center">10450</td>
        </tr>
        <tr>
          <td class="text-center">III</td>
          <td class="text-center">32300</td>
          <td class="text-center">10800</td>
          <td class="text-center">10750</td>
          <td class="text-center">10750</td>
        </tr>
        <tr>
          <td class="text-center">IV</td>
          <td class="text-center">33600</td>
          <td class="text-center">11200</td>
          <td class="text-center">11200</td>
          <td class="text-center">11200</td>
        </tr>
        <tr>
          <td class="text-center">V</td>
          <td class="text-center">34800</td>
          <td class="text-center">11600</td>
          <td class="text-center">11600</td>
          <td class="text-center">11600</td>
        </tr>
        <tr>
          <td class="text-center">VI</td>
          <td class="text-center">35950</td>
          <td class="text-center">12000</td>
          <td class="text-center">12000</td>
          <td class="text-center">11950</td>
        </tr>
        <tr>
          <td class="text-center">VII</td>
          <td class="text-center">36750</td>
          <td class="text-center">12250</td>
          <td class="text-center">12250</td>
          <td class="text-center">12250</td>
        </tr>
        <tr>
          <td class="text-center">VIII</td>
          <td class="text-center">37850</td>
          <td class="text-center">12650</td>
          <td class="text-center">12600</td>
          <td class="text-center">12600</td>
        </tr>
        <tr>
          <td class="text-center">IX</td>
          <td class="text-center">39800</td>
          <td class="text-center">13300</td>
          <td class="text-center">13250</td>
          <td class="text-center">13250</td>
        </tr>
        <tr>
          <td class="text-center">X</td>
          <td class="text-center">44500</td>
          <td class="text-center">14900</td>
          <td class="text-center">14800</td>
          <td class="text-center">14800</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include('footer') -%> 
