<%- include('header') -%>

<div id="click-fee" class="mb-2 mt-4">
  <a href="/admission">Click here to apply for online admission.</a>
</div>

<table>
  <tr>
    <td colspan="5"><strong>PRAGATHI VIDYANIKETAN</strong></td>
  </tr>
  <tr>
    <td colspan="5"><strong>SSC FEE STRUCTURE 2023-2024</strong></td>
  </tr>
  <tr>
    <td></td>
    <td><strong>2023-2024</strong></td>
    <td><strong>(10-06-2023)</strong></td>
    <td><strong>(10-09-2023)</strong></td>
    <td><strong>(10-02-2024)</strong></td>
  </tr>
  <tr>
    <td><strong>CLASS</strong></td>
    <td><strong>TUTION FEE</strong></td>
    <td><strong>I TERM</strong></td>
    <td><strong>II TERM</strong></td>
    <td><strong>III TERM</strong></td>
  </tr>
  <tr>
    <td><strong>LKG &amp; UKG
    <td>24950</td>
    <td>8350</td>
    <td>8300</td>
    <td>8300</td>
  </tr>
  <tr>
    <td><strong>I</strong></td>
    <td>27150</td>
    <td>9050</td>
    <td>9050</td>
    <td>9050</td>
  </tr>
  <tr>
    <td><strong>I</strong></td>
    <td>28000</td>
    <td>9400</td>
    <td>9300</td>
    <td>9300</td>
  </tr>
  <tr>
    <td><strong>III</strong></td>
    <td>28850</td>
    <td>9650</td>
    <td>9600</td>
    <td>9600</td>
  </tr>
  <tr>
    <td><strong>IV</strong></td>
    <td>30000</td>
    <td>10000</td>
    <td>10000</td>
    <td>10000</td>
  </tr>
  <tr>
    <td><strong>V</strong></td>
    <td>31050</td>
    <td>10350</td>
    <td>10350</td>
    <td>10350</td>
  </tr>
  <tr>
    <td><strong>VI</strong></td>
    <td>32100</td>
    <td>10700</td>
    <td>10700</td>
    <td>10700</td>
  </tr>
  <tr>
    <td><strong>VII</strong></td>
    <td>32800</td>
    <td>11000</td>
    <td>10900</td>
    <td>10900</td>
  </tr>
  <tr>
    <td><strong>VIII</strong> </td>
    <td>33800</td>
    <td>11300</td>
    <td>11300</td>
    <td>11200</td>
  </tr>
  <tr>
    <td><strong>IX</strong></td>
    <td>35550</td>
    <td>11850</td>
    <td>11850</td>
    <td>11850</td>
  </tr>

  </table>

<%- include('footer') -%>
