<footer>
    <div class="footer-content">
      <div class="footer-links">
        <a href="/contact">Contact Us</a>||
        <a href="about">About Us</a>||
        <a href="admission">Online Admission</a>||
        <a href="/fee">Fee Structure</a>||
        <a href="/circulars">Circulars</a>||
        <a href="/gallery">Gallery</a>||
        <a href="/student-login">Student Details</a>
      </div> 

    </div>
      <div class="footer-contact">
        <p><strong>School Address:</strong>Pragathinagar, Opp. JNTU, Kukatpally, Hyderabad - 500090</p>
        <p><strong>Email:</strong> pragathi.ssc@gmail.com</p>
        <p><strong>Phone:</strong>9618612927</p>
        <p>Feel free to give us feedback or suggestions on gmail to <a href="mailto:pragathi.ssc@gmail.com">pragathi.ssc@gmail.com</a></p>
        <p>Made with ❤️ by PVN Students</p>
      </div>
    </div>

    <div class="footer-bottom">
      <p><strong>&copy; 2024 Pragathi Vidyaniketan. All rights reserved.</strong></p>
    </div> 
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
  
</html>