<footer>
    <div class="footer-content">
      <div class="footer-links">
        <a href="/contact">Contact Us</a>||
        <a href="about">About Us</a>||
        <a href="admission">Online Admission</a>||
        <a href="/fee">Fee Structure</a>||
        <a href="/calendar">Academic Calendar</a>||
        <a href="/circulars">Circulars</a>||
        <a href="/gallery">Gallery</a>
      </div> 

    </div>
      <div class="footer-contact">
        <p><strong>School Address:</strong>Pragathinagar, Opp. JNTU, Kukatpally, Hyderabad - 500090</p>
        <p><strong>Email:</strong> pragathi.ssc@gmail.com</p>
        <p><strong>Phone:</strong> 123-456-7890</p>
        <p>Feel free to give us feedback or suggestions on gmail to <a href="mailto:pragathi.ssc@gmail.com">pragathi.ssc@gmail.com</a></p>
      </div>
    </div>

    <div class="footer-bottom">
      <p><strong>&copy; 2023 Pragathi Vidyaniketan. All rights reserved.</strong></p>
    </div> 
  </footer>

  <script src="BOOTSTRAP/js/bootstrap.min.js"></script>
  <script src="POPPER/dist/umd/popper.min.js"></script>
  <script src="js/script.js"></script>
  
</html>