<footer>
    <div class="footer-content">
      <div class="footer-links">
        <a href="">Contact Us</a>||
        <a href="">About Us</a>||
        <a href="">Online Admission</a>||
        <a href="">Fee Structure</a>||
        <a href="">Academic Calendar</a>||
        <a href="">Circulars</a>||
        <a href="">Gallery</a>
        </div> 
      </div>
      <div class="footer-contact">
        <p><strong>Contact Us:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sit ipsam aut similique molestias assumenda, velit minus ex</p>
        <p><strong>Email:</strong> pragathi.ssc@gmail.com</p>
        <p><strong>Phone:</strong> 123-456-7890</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p><strong>&copy; 2023 Pragathi Vidyaniketan. All rights reserved.</strong></p>
    </div> 
  </footer> 

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</html>