<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pragathi Vidyaniketan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <link rel="shortcut icon" href="images/favicons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=Pacifico&family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>

    <header>
          <!-- Creating navigation bar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="pvn-logo" class="ms-4 pvn-logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active fs-5" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item fs-5">
                <a class="nav-link active" href="/about">About</a>
              </li>
              <li class="nav-item fs-5">
                <a class="nav-link active" href="/contact">Contact</a>
              </li>
              <li class="nav-item fs-5">
                <a class="nav-link active" href="/gallery">Gallery</a>
              </li>
              <li class="nav-item fs-5">
                <a class="nav-link active" href="/admission">Admission</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/#features-section">Features/Facilities</a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" href="/fee">Fee Structure</a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" href="/calendar">Academic Calendar</a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" href="/circular">Circulars</a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" href="/rules">School Rules</a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" href="/ssc-results">SSC Results</a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" href="/student-login">Student Login</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>