<%- include('header') -%>

<main>

  <section class="carousel-section">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <span>
            <h1>Pragathi Vidyaniketan</h1>
            <h3>Mission to Motivate</h3>
            <p><em>Nurturing Minds, Igniting Curiosity, and Inspiring Lifelong Learners<br><strong>Admissions open for the year 2023-24 from LKG to 10th
                  class.</strong></em></p>
            <a id="clickhere" class="btn btn-primary click" href="/admission">Enroll Now!</a>
          </span>
          <img src="images/Picture3.jpg" alt="carousel-1" class="carousel-image">
        </div>
        <div class="carousel-item">
          <span>
            <h1>Our SSC Results</h1>
            <h4 class="congrats-text">
              <img src="images/boquet.png" alt="boquet">
              Congratulations to our students!
              <img src="images/boquet.png" alt="boquet">
            </h4>
            <h3 class="anton">100% PASS
              <hr id="x">GPA Above 9 : <u>93/179</u>
            </h3>
          </span>
          <img src="images/ssc-results.jpg" alt="carousel-2" class="carousel-image">
        </div>
        <div class="carousel-item">
          <span>
            <h1 id="gs">⚽ Sports and Games 🏏</h1>
            <p><em>At our school, we believe in the power of sports and the valuable life lessons they teach. That's why
                we encourage and support our students' participation in various sports activities.</em></p>
            <h5>Our school important sports acheivements:</h5>
            <ul>
              <li class="sports-acheivements"> <strong>Vishnu Vardhan</strong> - National - Swimming - 2 Gold medals</li>
              <li class="sports-acheivements"><strong>Rithika</strong> - National - Taekwondo - Silver Medal</li>
              <li class="sports-acheivements"><strong>Thirumalesh</strong> - State - Running - Silver Medal</li>
              <li class="sports-acheivements"><strong>Keerthi</strong> - State - Running - Silver Medal</li>
              <li class="sports-acheivements"><strong>8th and 9th girls 2022-2023 team</strong> - Kabaddi - Runners</li>
            </ul>
          </span>
          <img src="images/Picture5.jpg" alt="carousel-3" class="carousel-image">
        </div>
        <div class="carousel-item">
          <span>
            <h1 id="iit">IIT, NEET and CIVILS Foundation</h1>
            <p><em>Introducing our new and exciting initiative: the <strong>IIT, NEET, and CIVILS</strong> Foundation
                Program at Pragathi Vidyaniketan. We are thrilled to announce that starting from <strong>August 1st
                  2023</strong>, we will be offering comprehensive classes and guidance to help students excel in these
                examinations.</em></p>
          </span>
          <img src="images/features/POSTER.png" alt="carousel-4" class="carousel-image">
        </div>
        <div class="carousel-item">
          <span>
            <h1 class="mb-5">Explore more about our school features and facilities.</h1>
            <a id="clickhere" class="btn btn-primary click" href="#features-section">Click Here!</a>
          </span>
          <img src="images/school2.jpg" alt="carousel-5" class="carousel-image">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="features-section" id="features-section">
    <h1 class="h1">Our Features/Facilities</h1>

    <div>
      <img class="feature-image-1 staff-image" src="images/features/staff.jpg " alt="img-1">
      <h2>Qualified Teaching Staff</h2>
      <p class="feature-text-1">Our experienced teaching staff is committed to providing a comprehensive education and
        fostering critical thinking skills. With a wealth of knowledge and a passion for teaching, our educators create
        a nurturing and engaging learning environment. Through innovative teaching methods and personalized instruction,
        they empower students to thrive and prepare them for a bright future.</p>
    </div>

    <div>
      <img class="feature-image-2" src="images/features/download (2).jpg" alt="img-2">
      <h2>Individual Attention</h2>
      <p class="feature-text-2">We prioritize individual attention to ensure every student's success. With smaller class
        sizes and dedicated teachers, we provide personalized education tailored to each student's unique needs. Our
        supportive community empowers students to reach their full potential</p>
    </div>

    <div>
      <img class="feature-image-3" src="images/features/images.jpg" alt="img-3">
      <h2>Extra-Currricular activities</h2>
      <p class="feature-text-1">Explore your passions with diverse extracurricular activities at Our School. From dance,
        singing, and martial arts to art and craft, discover and develop your talents. Our experienced instructors
        nurture creativity, discipline, and self-expression. Unleash your potential, perform vibrantly, and enhance your
        education with our exciting programs.
      </p>
    </div>

    <div>
      <img class="feature-image-2" src="images/features/download.jpg" alt="img-4">
      <h2>Computer Labs</h2>
      <p class="feature-text-2">Explore, create, and innovate in our cutting-edge computer labs. Our school provides
        students with advanced technology to develop coding, design, and problem-solving skills. Unleash your potential
        in our state-of-the-art labs.
      </p>
    </div>

    <div>
      <img class="feature-image-1" src="images/features/images (1).jpg" alt="img-5">
      <h2>Library</h2>
      <p class="feature-text-1">Discover a world of knowledge in our vibrant library. Immerse yourself in diverse books
        and digital resources, expanding your horizons. Explore captivating stories, conduct research, and embark on a
        journey of self-discovery. Experience the transformative power of our enriching library.</p>
    </div>

    <div>
      <img class="feature-image-2" src="images/features/images (2).jpg" alt="img-6">
      <h2>Science Labs</h2>
      <p class="feature-text-2">Experience hands-on scientific discovery in our advanced science labs. Equipped with
        state-of-the-art equipment, students explore, experiment, and learn. Our dedicated instructors foster critical
        thinking and problem-solving skills. Unleash your curiosity and embrace the world of science in our dynamic
        labs.</p>
    </div>

    <div>
      <img class="feature-image-1" src="images/features/play pen.png" alt="img-7">
      <h2>Playground and Playpen</h2>
      <p class="feature-text-1">Discover a world of fun and adventure in our dynamic playground and playpen. Designed
        for socialization, our outdoor spaces provide a safe environment for children to engage in physical activities.
        From interactive play structures to age-appropriate equipment, our facilities cater to all ages. At our school,
        we embrace the importance of play in nurturing holistic development.</p>
    </div>

    <div>
      <img class="feature-image-2" src="images/features/feild trips.jpg" alt="img-8">
      <h2>Feild Trips</h2>
      <p class="feature-text-2">Expand horizons through captivating field trips. Explore museums, historical sites, and
        more, immersing in real-world learning. Guided by experts, students connect theory to practical experiences. At
        Our School, we foster curiosity, passion, and lifelong memories through enriching field trips.</p>
    </div>

    <div>
      <img class="feature-image-1" src="images/features/download (1).jpg" alt="img-9">
      <h2>Digital Classes</h2>
      <p class="feature-text-1">Enhance learning with targeted digital classes for specific concepts. Students delve
        into interactive lessons that improve understanding. These focused digital sessions provide additional support
        and engagement, complementing traditional classroom instruction. We embrace the power of digital tools to deepen
        knowledge and facilitate personalized learning experiences for students.</p>
    </div>

    <div>
      <img class="feature-image-2" src="images/features/POSTER.png" alt="img-10">
      <h2>IIT, NEET and CIVILS Foundation</h2>
 <p class="feature-text-2">Establish a solid foundation for success in IIT, NEET, and Civil Services exams with our
        comprehensive program. Our expert faculty focuses on building essential skills and knowledge to excel in these
        competitive exams. Through a well-structured curriculum and specialized guidance, we empower students with the
        necessary tools for future success. Join our program and lay the groundwork for achieving your goals in IIT,
        NEET, and Civil Services examinations.</p>
    </div>

    <div>
      <img class="feature-image-1" src="images/features/download (2).jpg" alt="img-11">
      <h2>Competititve Exams</h2>
      <p class="feature-text-1">Unlock your academic potential and excel in competitive exams like olympiads at Our
        School. With expert guidance and rigorous preparation, we empower students to showcase their skills and
        problem-solving abilities. Join our competitive exam program and embark on a journey towards academic excellence
        and remarkable achievements in olympiads.</p>
    </div>

    <div>
      <img class="feature-image-2" src="images/features/sports tournaments.png" alt="img-12">
      <h2>Sports Tournaments</h2>
      <p class="feature-text-2">Encourage active participation and support in local sports tournaments. At Our School,
        we empower our students to showcase their athletic talents and represent the school in various external sports
        competitions. Through rigorous training and guidance, we equip them with the skills and confidence to excel in
        their chosen sports. Join us in fostering a culture of sportsmanship and providing opportunities for our
        students to shine on the local sports stage.</p>
    </div>

  </section>

  <!-- <section class="testimonials-section">
                                    <h1 class="main-heading">Testimonials</h1>

                                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                      <div class="carousel-inner">
                                        <div class="carousel-item active">
                                          lore
                                        </div>
                                        <div class="carousel-item">
                                        </div>
                                        <div class="carousel-item">
                                        </div>
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                      </button>

                                    </div>
                                  </section> -->

</main>

<%- include('footer') -%>