<%- include('header') -%>

<div class="container">
  <h1 class="h1">Under Maintenance</h1>
  <p class="text-center">We're preparing for a special launch event. Stay tuned!</p>
</div>

<%- include('footer') -%>
