<%- include('header') -%>

<h1 class="h1"> Rules and Regulations</h1>
<div class="about-section">
    <h2>The Students</h2>
    <p class="rules">
        1. They should be regular to school, neatly dressed in the prescribed school uniform. <br>
        2. They should be ready with all the required learning material as per the daily timetable. <br>
        3. They should be attentive in  class, take down notes on the lessons taught during each period, and read each day's lesson at least twice at home <br>
        4. They should  note the assignments given, in the school diary, complete and submit the same on date.<br>
        5. They should be honest, truthful, loyal, orderly & hard working. <br>
        6. They should be polite to everyone, show due respect to others and maintain self-respect <br>
        7. They should learn what is right and just and avoid the company of undesirable elements: desist from gossiping and tale-bearing  ; nor should they allow themselves to be misguided by others. <br>
         </p>
  </div>
  <div class="about-section">
    <h2>Code of Conduct</h2>
    <p class="content-paragraph">
      The school expects all the students to maintain a high standard of discipline. Pragathi, being an English medium school, expects students to communicate in English during school hours. They should be well-mannered and considerate of the needs of others, displaying courtesy at all times. They should be dedicated to their academics and actively participate in co-curricular and extracurricular activities. Violation of any of the conduct guidelines is subject to appropriate punishment as determined by the school. Serious offenses, such as immoral behavior, engaging in physical fights or brawls within or outside the school campus, damaging or defacing school property, or engaging in forgery, can result in suspension or dismissal.
    </p>
  </div>
  <div class="about-section">
    <h2>Discipline</h2>
    <p class="rules">
        <li class="points">Students are expected to be regular in attendance and academics, obedient and respectful, and avoid malpractice during tests and examinations. If any student is found indulging in unfair means during examinations, he/she will be awarded zero in that particular paper. </li>
        <li class="points">Students must be on time for the Morning Assembly.</li>
        <li class="points">Students are not permitted to leave the classroom without proper reasons and written permission. On any account, if a student has to go home during school hours from school he/she must get written permission from the school authority</li>
        <li class="points"> Respect for school property is a moral obligation and any damage to it must be made good by the student concerned. </li>
        <li class="points">caps may be worn only out in the sun but not in the classroom.</li>
        <li class="points">Chewing gum on school premises is prohibited.</li> 
        <li class="points">Graffiti and defacing walls, desks and toilets will be dealt with severly. </li>
        <li class="points">Forging parent's signature and changing marks or entries in report cards may warrant suspension</li>
        <li class="points">No student can bring an outsider to school and arrange meetings or engage them to fight against students of the school. </li>
        <li class="points">Bunking class or being found out side the school during school hours will be severely dealt with.</li>
        <li class="points">The use of foul and objectionable language is unacceptable.</li>
        <li class="points">Stealing of any kind is a serious offense.</li>
        <li class="points">No collective petitions of students will be entertained. However personal grievances can be addressed individually with the Class Teacher, incharge or Principal. </li>
        <li class="points">Carrying mobile phones,ipads, any other unnecessary electronic devices is strictly prohibited.if any child is found with these devices,or with money, cameras,etc .the same will be confiscated</li>    
    </p>
  </div>
<div class="about-section">
    <h2> Behavior/Attitude</h2>
    <p class="rules">
        <li class="points">Students should not undermine the authority of those kept in charge.</li>
        <li class="points">Students should be well behaved,respectful,honest and truthful.</li>
        <li class="points">It is imperative that the students keep the classrooms and school premises neat and clean.They should use the bins provided for the disposal of the litter. </li>
        <li class="points">Clean,healthy,open friendship and respect for the opposite sex is appreciated.Boys and girls are not permitted to pair off and be seen in close proximity at any time and in and around the school campus.parents of those violating this rule will be intimated immediately.</li>
    </p>
</div>
<div class="about-section">
  <h2>Uniform</h2>
  <h4 class="girls"><u>Girls</u></h4>
  <p class="rules">
    LKG to V : Checks (Red & Grey) Shirt and (Royal blue) Pinofrock <br>
    VI to X  : Checks (Red & Grey) Top, Bottom (Royal blue) <br>
    Shoes    : Black Shoes & Black Socks
    </p>
    <h4 class="girls"><u>Boys</u></h4>
    <p class="rules">
    LKG to IV : Checks (Red & Grey) Shirt and (Royal blue) Knicker <br>
    Shoes    : Black Shoes & Black Socks
    V to X    : Checks (Red & Grey) Shirt and (Royal blue) Pant <br>
    </p>
    <p class="uniform">
      <li class="points"> Personal neatness and cleanliness is appreciated at all times. </li>
      <li class="points"> students will not be entertained if they are not in proper school uniform (as specified above)even on non instructional days.
      <li class="points"> Short, neat hair cut for boys (with no fancy cuts or styles) is permitted.Beard or stubble is not permitted.</li>
      <li class="points"> GIrls must tie up long hair. No fancy accessories or hairstyles are permitted.</li>
      <li class="points"> Nails should be short and clean. nail polish is not permitted at school.</li>
      <li class="points"> Anklets are not allowed.</li>
    </p>
</div> 
<div class="about-section">
  <h2>Attendance Policy:</h2>
   <p class="uniform">
    <h4 class="attendence">1. Attendance Requirements:</h4>
    <li class="points">All students are expected to attend classes regularly and punctually.</li>
    <li class="points">Regular attendance is essential for academic success and to fully engage in the learning process.</li>
    <h4 class="attendence">2. Reporting Absences:</h4>
    <li class="points">Parents/guardians are required to report student absences to the school as soon as possible.</li>
    <li class="points">Absences can be reported through the designated attendance hotline, email, or an online attendance reporting system.</li>
    <li class="points">Provide specific contact information for reporting absences.</li>
    <h4 class="attendence">3. Excused Absences:</h4>
    <li class="points">Excused absences include but are not limited to illness, medical appointments, religious observances, family emergencies, and school-approved activities.</li>
    <li class="points">To have an absence considered excused, parents/guardians must provide appropriate documentation or request prior approval from the school.</li>
    <h4 class="attendence">4. Unexcused Absences:</h4>
    <li class="points">Unexcused absences refer to absences without a valid reason or proper authorization.</li>
    <li class="points">Consequences for unexcused absences may include disciplinary actions, grade deductions, or loss of privileges.</li>
    <li class="points">After a certain number of unexcused absences, parents/guardians and students may be required to attend a meeting with school administration to address the issue.</li>
    <h4 class="attendence">5. Tardiness:</h4>
    <li class="points">Students are expected to arrive on time for all classes.</li>
    <li class="points">Late arrivals may be marked as tardy, and repeated tardiness may result in disciplinary consequences.</li>
    <h4 class="attendence">6. Attendance Records:</h4>
    <li class="points">Attendance records are maintained by the school administration and may be reviewed by parents/guardians upon request.</li>
    <li class="points">Attendance reports may be used for academic evaluation, eligibility for participation in extracurricular activities, and reporting to relevant authorities if required by law.</li>
    <h4 class="attendence">7. Make-Up Work:</h4>
    <li class="points">Students are responsible for making up any missed assignments, classwork, or assessments due to absences.</li>
    <li class="points">Teachers will provide guidelines and reasonable time frames for completing make-up work.</li>
    <li class="points">It is the student's responsibility to communicate with teachers to obtain missed assignments and arrange for make-up work.</li>
    <h4 class="attendence"> 8. Academic Progress Monitoring:</h4>
    <li class="points">Teachers and school staff will regularly monitor students' academic progress and provide feedback to support their growth. Students are expected to actively review and reflect upon feedback provided and make necessary improvements.</li>
    <h4 class="attendence"> 9.Utilizing Available Resources:</h4>
    <li class="points">Students are encouraged to utilize the resources provided by the school, such as libraries, research materials, online databases, and academic support services.</li>
    <li class="points">Seeking assistance from teachers, counselors, or tutors when needed is highly recommended to enhance academic performance and overcome challenges.</li>
  </p>
</div>
 
 
   
 
<%- include('footer') -%>