<%- include('header') -%>


<h1 class="h1"> Rules and Regulations</h1>
<div class="about-section">
    <h2>The Students</h2>
    <p class="rules">
        1.They should be regular to school, neatly dressed in the prescribeed school uniform. <br>
        2.They should be ready with all the required learning material as per the daily time-table. <br>
        3.They should be attentive in the class, take down notes on the lessons taught during each period, and read each day's lesson atleast twice at home <br>
        4.They should make a note of the assignments given, in the school diary, complete and submit the same on due date. <br>
        5.They should be honest, truthful, loyal, orderly & hard working. <br>
        6.They should be polite to everyone, show due respect to others and amintain self-rsepect <br>
        7.They should learn what is right and just and avoid the co,pany of undesirable elements: desist from gossipimg and tale bearing ; nor should they allow themelves to be misguided by others. <br>
         </p>
  </div>
  <div class="about-section">
    <h2> Code of Conduct</h2>
    <p class="content-paragraph">
        The school expects all the students to maintain high standard of discipline. Pragathi being an english medium school, the students are expexted to communicate in English during school hours. They should be well mannered and coniderate to the needs of others and courteous at all times. they should be dedicated to their academics and activelyparticipate in co-cirricular and extra-curricular activities of the school.%-violation of any of the points of conduct is subject to an appropriate form of punishment decided by the school. Serious offences such as immoral behaviou, imdulging in physical fights/brawls in and outside the school campus, and damaging  or defacing school property or forgery csn lead to suspension or dismissal. 
    </p>
  </div>
  <div class="about-section">
    <h2>Discipline</h2>
    <p class="rules">
        <li class="Points">Students are expected to be regular in attendence and academics,obidient and respectful and avoid malpractice at tests and examinations.if  any student is found indulging in unfair means during examinations , he/she will be awarded zero in that particular paper.  </li>
        <li class="Points">Students must be on time for the Morning Assembly.</li>
        <li class="Points">Students are not permitted to leave the classroom without proper reasons and written permission. On any accoutn, if a student has to go home during school hours from school he/she must get written permission from the school authority</li>
        <li class="Points"> Respect for school prperty is a moral obligation and any damage to it must be made good by the student concerned. </li>
        <li class="Points">caps may be worn only out in sun but not in classroom.</li>
        <li class="Points">Chewing gum in school premises is prohibited.</li> 
        <li class="Points">Graffiti and defacing walls, desks and toilets will be dealt with severly. </li>
        <li class="Points">Forging parent's signature and changing marks or entries in report cards may warrant suspension</li>
        <li class="Points">No student can bring an outsider to school and arrange meetings or engage them to fight against students of the school. </li>
        <li class="Points">Bunking class or being found out side the school during school hours will be severly dealt with.</li>
        <li class="Points">The use of foul and objectionable language is unnacceptable.</li>
        <li class="Points">Stealing of any kind is a serious offence.</li>
        <li class="Points">No collective petitions of students will be entertained. However personal grievances can be adressed individually with the Class Teacher, Incharge or Principal. </li>
        <li class="Points">Carrying mobile phones,ipods, any other unnecessary electronic devices is strictly prohibited.if any child is found with these devices,or with money, cameras,etc .the same will be confiscated</li>    
    </p>
  </div>
<div class="about-section">
    <h2>Behaviour/Attitude</h2>
    <p class="rules">
        <li class="Points">Students should not undermine the authority of those kept in charge.</li>
        <li class="Points">Studentsshould be well behaved,respectful,honest and truthful.</li>
        <li class="Points">it is imperative that the students keep the classrooms and school premises neat and clean.They should use the bins provided for the disposal of the litter. </li>
        <li class="Points">clean,healthy,open friendship and respect for the opposite sex is appreciated.Boys and girls are not permitted to pair off and be seen in close proximity at any time and in and around the school campus.parents of those violating this rule will bw intoated immediately.</li>
    </p>
</div>
<%- include('footer') -%>